@import './config.scss';

.content-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.content {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-secondary-dark;

    h1 {
        width: 80%;
        font-weight: 500;
        font-size: 2.5rem;
        padding: 1.5rem 0 0.3rem 0;
    }

    h2 {
        width: 80%;
        font-size: 0.9rem;
        font-weight: 300;
        margin: 0 0 0.8rem 0;

        .author-tag {
            color: $color-primary-med;
            &:hover {
                color: $color-pop;
            }
        }
    }

    p {
        width: 80%;
        font-size: 1rem;
        font-weight: 400;
        margin: 0.5rem 0;

        .cta {
            color: $color-primary-med;

            &:hover {
                color: $color-pop;
            }
        }
    }
}

.sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: $color-secondary-dark;

    h2 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3rem 0;
        padding: 0 1rem;

        form {
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            width: 100%;

            input {
                margin: 0.3rem 0;
                padding: 0.2rem;
                width: 80%;

                &[type='submit'] {
                    width: 40%;
                    @extend %btn;
                    background-color: $color-primary-light;
                }
            }
        }
    }

    .social {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        .social-container {
            width: 80%;
            display: flex;
            justify-content: space-between;
            font-size: 1.3rem;
            margin: 0.8rem 0;
            padding: 0.5rem;
        }
    }
}