$color-primary-light: #c6ebbb;
$color-primary-med: #a7c0a6;
$color-primary-dark: #605759;
$color-secondary-light: #EBEBE9;
$color-secondary-dark: #2f2a2c;
$color-pop: #cfa8e0;

@mixin midtext {
    width: 100%;
    text-align: left;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-container {
    width: 100%;
    height: 60vh;
    display: flex;
    align-content: center;
    justify-content: center;

    .landing-text {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 8rem;

        h1 {
            font-size: 6rem;
            color: $color-secondary-dark;
            margin: 0.4rem 0;
            @include midtext;
        }

        p {
            font-size: 1.3rem;
            font-weight: 300;
            @include midtext;
        }

        .btn-container {
            @include midtext;
            margin: 2.8rem 0;

            .btn-register {
                background-color: $color-primary-med;
                color: $color-secondary-dark;
                padding: 0.5rem 1rem;
                border-radius: 1.5rem;;
                font-size: 1.1rem;
                font-weight: 500;

                &:hover {
                    background-color:$color-pop;
                    color: $color-secondary-light;
                    transition: 0.2s;
                }
            }
        }
        
    }

    .landing-img {
        width: 40%;
        background: url('./img/Blog-post-bro.png');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 1rem 6rem 1rem 0.5rem;
    }
}

.article-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    width: 30%;
    min-height: 15rem;
    margin: 2rem;
}