
$color-primary-light: #c6ebbb;
$color-primary-med: #a7c0a6;
$color-primary-dark: #605759;
$color-secondary-light: #EBEBE9;
$color-secondary-dark: #2f2a2c;

$body-font: 'Yantramanav', sans-serif;

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    font-family: $body-font;
}

a {
    &:any-link {
        text-decoration: none;
    }
}